:global {
    html, body {
        margin: 0;
        padding: 0;
    }
}

.block {
    padding: 20px;
}

.element {
    padding: 2%;
    width: 30%;
    border: 2px solid red;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 1%;
}

.innerElement {
    border: 2px solid green;
    padding: 20px;
}

.image {
    width: 100%;
    height: auto;
}
